@using GlobalInvest.Services
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GlobalInvest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GlobalInvest.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GlobalInvest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <!-- Hem -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Hem</a>
                        </li>

                        <!-- Beräkningar -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Calculation"
                                asp-action="Index">Beräkningar</a>
                        </li>

                        <!-- Fonder -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Fund" asp-action="Index">Fonder</a>
                        </li>

                        <!-- Inkomstuppgifter -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="IncomeReport" asp-action="Index">Inkomster</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        <div id="breadcrumbs-container">
            @await Html.PartialAsync("_Breadcrumbs")
        </div>
        <div id="status-messages-container">
            @await Html.PartialAsync("_StatusMessages")
        </div>
        @await Html.PartialAsync("_GlobalConfirmModal")

        @RenderBody()
    </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container text-center">
            &copy; 2025 - GlobalInvest
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>